.postBox {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 600px;
    background-color: #D5D5D7;
    padding: 15px;
    margin: 10px;
}

.inputField {
    height: 90px;
    padding: 10px 0px 0px 10px;
}

.postButton {
    height: 30px;
    width: 60px;
    font-size: 14px;
    background-color: #5063af;
    color: gainsboro;
    border-color: transparent;
    margin: 8px 0px 0px 510px;
}